.calculator{
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    grid-template-areas: 
    "display"
    "buttons";
}

.display{
    max-height: 150px;
    grid-area: display;
}


.buttons{
    display: grid;
    grid-template-rows: (6, 2fr);
    grid-template-areas: 
    "first"
    "second"
    "third"
    "fourth"
    "fifth"
    "sixth";

    grid-area: buttons;
}

.first-row{
    padding-top: 20px;
    grid-area: first;
    
}

.second-row{
    grid-area: second;
}

.third-row{
    grid-area: third;
}

.fourth-row{
    grid-area: fourth;
}

.fifth-row{
    grid-area: fifth;
}

.sixth-row{
    grid-area: sixth;
}